.contact {
    
    &__type {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--title-text-color);
    
        transition: color var(--transition-time) var(--timing-function);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    &__icon {
        display: flex;
        margin-right: 10px;
        fill: currentColor;
    }
}