.section-features {
    padding-top: 94px;
    
    &__list {
        display: flex;
    }
    &__item {
        flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4);
        margin-right: var(--card-set-gap);
        
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}

